% extends 'catalog/base.html' %}
{% block content %}
<!--<div class="card" style="width: 18rem;">-->
<!--  <img src="{{product.image}}" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <div class="card text-center">-->
<!--    <h5 class="card-title">{{ product }}</h5>-->
<!--    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>-->
<!--    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>-->
<!--  </div>-->
<!--</div>-->
<div class="card text-center">
    <div class="card-header">
        <div class="card" style="width: 18rem;">
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text_center">Небольшой пример текста, который должен основываться на названии карточки и
                    составлять основную часть содержимого карточки.</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ product1 }}</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному
            контенту.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
    </div>
</div>
</div>
{% endblock %}{