{% extends 'catalog/base.html' %}
{% block content %}
{% load my_filter %}
<div class="card text-center">
    <div class="card-header">
        <div class="card" style="width: 18rem;">
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text_center">Информация о продукте
                    </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ product1 }}</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному
            контенту.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
    </div>
</div>
</div>
{% endblock %}{